/* CSS for asg8_Susana_Delgadillo.html and asg8_Susana_Delgadillo.php */

body
{
	background: #FFFFFF url('blueNoise.gif');
}

body, p
{
	color: #093669;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	word-spacing: .3em;
	margin:25px 25px 25px 25px;
}

#content
{
	width: 450px;
}

h2
{
	padding: 5px 5px 5px 5px;
}

fieldset
{
	width: 450px;
	margin:25px;
	padding: 10px 10px 20px 20px;
	border: 0;
}

label
{
	color: #125BAE;
	font-weight: bold;
}

a:link
{
	color: #D93D04;
	text-decoration:none;
}

a:visited
{
	color: #D93D04;
	text-decoration:none;
}

a:hover
{
	color: #D93D04;
	text-decoration:none;
}